  @font-face {
    font-family: "lemon-milk";
    src: url("./../fonts/lemon_milk/LEMONMILK-Bold.woff") format('woff');
    font-weight: 700;
  }
  
  @font-face {
    font-family: "lemon-milk";
    src: url("./../fonts/lemon_milk/LEMONMILK-BoldItalic.woff") format('woff');
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: "lemon-milk";
    src: url("./../fonts/lemon_milk/LEMONMILK-Light.woff") format('woff');
    font-weight: 300;
  }
  
  @font-face {
    font-family: "lemon-milk";
    src: url("./../fonts/lemon_milk/LEMONMILK-LightItalic.woff") format('woff');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: "lemon-milk";
    src: url("./../fonts/lemon_milk/LEMONMILK-Medium.woff") format('woff');
    font-weight: 500;
  }
  
  @font-face {
    font-family: "lemon-milk";
    src: url("./../fonts/lemon_milk/LEMONMILK-MediumItalic.woff") format('woff');
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: "lemon-milk";
    src: url("./../fonts/lemon_milk/LEMONMILK-Regular.woff") format('woff');
    font-weight: 400;  
}

@font-face {
    font-family: "lemon-milk";
    src: url("./../fonts/lemon_milk/LEMONMILK-RegularItalic.woff") format('woff');
    font-weight: 400;
    font-style: italic;
  }

  @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'lemon-milk';
}

.body-container{
position: relative;
height: 50px
}

#sidebar{
  position: fixed;
  top:0;
  left:0;
  width: 270px;
  height:100%;
  background-color: white;
  transition: transform 0.5s ease-out;
  z-index: 800;
}

#toggle-button{
  position:fixed;
  top:50%;
  left:270px;
  transform: translateY(-50%);
  width:28px;
  height:98px;
  background-color: rgba(255, 255, 255, 0.87);
  border: 1px solid #F1F1F1;
  cursor:pointer;
  transition: left 0.5s ease-out;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 800;
}

#toggle-button.toggle-button-collapse{
  left: 0;
}

.sidebar-collapse{
transform: translateX(-100%)
}

#map{
background-color: #e8e8e8;
height:100vh;
z-index: 20;
}

.sidebar-logo{
  padding-left: 16px;
  padding-top: 16px;
  height: 90px;
}

.filter-title-main{
  border-width: 1px 0px;
  border-style: solid;
  border-color: #F1F1F1;
  height: 50px;
  margin-top: 5px;
display: flex;
align-items: center;
}

.filter-title-main h4{
margin-left: 16px;
}

.selectors{
  display:flex;
  flex-direction: column;
  gap:26px;
  margin-left: 16px;
  margin-top: 16px;
}

#year-filter, #sector-filter{
  width:90%;
  height: 30px;
  background-color: #F6F6F9;
  border: 1px solid #ECECEE;
  border-radius: 4px;
  padding-left: 5px;
  margin-top: 5px;
  font-size: 14px;
}

.select-text{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #16234D;
}


.contamination > p {
 margin-top: 8px;
 font-size: 12px;
 line-height: 24px;
 font-weight: 300;
 color: #16234D;
 font-family: 'Ubuntu';
}

.contamination h5{
  font-weight: 400;
  font-size: 14px;
  line-height: 21.59px;
  color:#16234D
}

.fa-xl{
  margin-right: 5px;
}

.fa-green{
  color:#79B943
}

.fa-default{
  color: #800080ff
}

.fa-yellow{
color:#EEE824
}

.fa-red{
  color: #FD4343
}

.fa-blue{
  color:#5EB6E4
}

.cadastre h3, .sub-heading{
  font-size:14px;
  font-weight: 400;
  line-height: 21.59px;
  color: #16234D;
}

.input {
  border: 1px solid #ECECEE;
display:flex;
width:90%;
height: 35px;
align-items: center;
justify-content: space-between;
padding:0;
border-radius: 4px;
background: #FFFFFF;
margin-top: 8px;
  
}

.input input{
width: 85%;
height:33px;
border: 0;
outline: none
}

.input input:focus{
  border:0;
  outline:none
}

.input i{
  color: rgb(224, 224, 224);

}

#archived-data{
  color: #16234D;
  font-size: 14px;
  line-height: 154.19%;
}