*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding: 0;
}

#map{
    height: 60vh;
    width: 100vw;
    background-color: rgb(207, 207, 207);
}

.bottom{
    margin-top: 50px;
padding:10px;
}

.bottom input{
    margin-top:10px;
}