*{
    box-sizing: border-box;
}

.container{
    margin:0;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 900px
}

#map{
    height: 60vh;
    width: 60%;
    background-color: rgb(207, 207, 207);
}

.bottom{

width: 30%
}


input, select{
    margin-bottom: 5px;
    margin-top: 0;
}

.submit-btn{
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
        margin:0;
      flex-direction: column;
      justify-content: center;
      /* align-items: center; */
    }

    #map{
        width:100%
    }
    .bottom{
        width: 100%;
        margin-top: 10px
    }
    input, select, .submit-btn{
        width: 100%;
        margin-bottom: 10px
    }

    input[type='radio']{
        width: auto
    }
    .submit-btn{
        background-color: rgb(84, 114, 197);
        padding: 5px;
        color: white;
        border: 0.5px solid blue;
        border-radius: 5px;
    }
  }